body{
    background-color: rgba(5, 93, 43, 0.626);
    margin: auto;
}

h1{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    text-align: center;
}

p{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    line-height: 1.5em;
    background-color: rgba(39, 60, 48, 0.196);
    margin-left: 64px;
    margin-right: 64px;
    border: whitesmoke 2px double;
    border-radius: 20px;
    padding: 32px;
}

.main-img{
    width: 280px;
    height: 190px;
    margin-right: 20px;
    border-radius: 8px;
    float: right;
}

h2{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    text-align: center;
}

.insp-para-1{
    border: none;
}

.insp-img{
    width: 230px;
    height: 150px;
    border-radius: 8px;
    margin-top: 5px;
    margin-right: 120px;
    float: right;
}

.insp-para-2{
    border: none;
}

.first-element{
    margin-top: 100px;
}

.internal-link-left{
    margin-left: 20px;
}

.internal-link-right{
    text-align: right;
    float: right;
    margin-right: 20px;
    margin-bottom: 100px;
}

a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

a:link, a:visited{
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color: rgb(254, 236, 73);
    background-color: #ff1100;
}

a:active{
    color: rgb(68, 255, 0);
}

a.highlight:hover{
    font-size: 22px;
}

ul{
    text-align: center;
    list-style-type: square;
    margin: 64px;
}

li{
    display: inline;
}

form{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 1.5em;
    background-color: rgba(39, 60, 48, 0.196);
    margin: 64px 400px;
    border: whitesmoke 2px double;
    border-radius: 20px;
    padding: 32px;
}

.submit-button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    background-color: #f44336;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.submit-button:hover{
    color: rgb(254, 23, 23);
    background-color: #fbe346;
}

.submit-button:active{
    color: rgb(68, 255, 0);
    background-color: #fcda00;
}